html{
  font-size:1rem;
  width:70em;
}

table tr td{
  padding:0.3rem 1rem 0rem 0rem;
}


.stats{
  border:0.1rem solid #000;
  width:20rem;
  float:left;
  margin-left:1rem;
}

.svg_holder{
  border:0.1em solid #000000;
  width:40rem;
  height:25rem;
  float:left;
}

.canvas_holder{
  border:0.1em solid #000000;
  float:left;	
}

.download{
  border:0.1rem solid #000;
  width:20rem;
  float:left;
  margin-left:1rem;
  margin-top:1rem;
}